.cart__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__title-total {
  font-size:24px;
}
.cart__title {
  font-size: 36px;
  display: flex;
  flex-direction: start;
}

.cart__wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  gap: 20px;
  text-align: center;
  margin-top: 20px;

}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px #e0e0e0;
  padding: 20px;
  border-radius: 5px;
}

.cart__image {
  width: 150px;
  height: auto;
  margin-left: 100px;
}

.cart__name {
  font-size: 18px;
  min-width: 230px;
  font-weight: 600;
}
.cart__count {
    min-width: 50px;
}
.cart__price {
  font-size: 16px;
  margin: 5px 0;
}
.cart__clear {
  color: black;
  font-size: 14px;
  margin-right: 100px;
}
.cart_clear-icon {
  width: 50px;
  height: 50px;
  
}
