.search {
  position: relative;
}
.search__icon {
  width: 15px;
  height: 15px;
  left: 175px;
  bottom: 5px;
  opacity: 0.4;
  position: absolute;
}
.search__input {
  width: 200px;
  background-color: #f1ededf2;
  font-size: 14px;
  padding: 3px;
  border-radius: 3px;
}
