.search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1px;
  font-size: 14px;
}

.search__input {
  border: none;
  padding: 5px;
  transition: width 0.2s ease; 
  width: 130px; 
 
}
.search__input:focus {
  width: 200px; 
}

.search__icon {
  width: 13px;
  height: 13px;
  fill: #999;
  margin-left: 5px;
  cursor: pointer;
}

.search__clear-icon {
  width: 15px;
  height: 15px;
  fill: #999;
  cursor: pointer;
  margin-right: 3px;
}
